<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/console/tpl/tpl-common::head('产品列表')"></head>
  <body>
    <!-- 顶部 -->
    <nav th:replace="/console/tpl/tpl-common::top"></nav>

    <div class="container-fluid">
      <div class="row">
        <!-- 左侧导航 -->
        <nav th:replace="/console/tpl/tpl-common::left('product')"></nav>

        <!-- 数据区 -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" id="main-data">
          <!-- 面包屑导航 -->
          <nav th:replace="/console/tpl/tpl-module::product-top('list')"></nav>
          <!-- 搜索区 -->
          <form id="form-search">
            <div class="form-row mb-2">
              <div class="col-md-2 col-sm-4 mb-1">
                <input type="text" class="form-control form-control-sm" name="name_like" th:value="${params?.get('name_like')}" placeholder="产品名称">
              </div>
              <div class="col-md-2 col-sm-4 mb-1">
                <select class="form-control form-control-sm" name="productStatus">
                  <option value th:selected="${params?.get('productStatus')} == ''">--状态--</option>
                  <option th:each="s : ${productStatuses}" th:value="${s.code}" th:text="${s.value}" th:selected="${params?.get('productStatus')} == ${s.code}"></option>
                </select>
              </div>
              <div class="col-auto mb-1">
                <button type="button" class="btn btn-primary btn-sm" id="btn-reset">重置</button>
                <button type="button" class="btn btn-primary btn-sm" id="btn-search">搜索</button>
              </div>
            </div>
          </form>
          <!-- 表格数据 -->
          <div class="table-responsive">
            <table class="table table-striped" style="overflow-y: auto">
              <thead>
                <tr>
                  <th scope="col">编号</th>
                  <th scope="col">产品名称</th>
                  <th scope="col">主图</th>
                  <th scope="col">价格</th>
                  <th scope="col">库存</th>
                  <th scope="col">状态</th>
                  <th scope="col">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr th:if="${not #lists.isEmpty(pageInfo?.list)}" th:each="p : ${pageInfo?.list}">
                  <th scope="row" th:text="${p.id}"></th>
                  <td th:text="${p.name}"></td>
                  <td><img th:src="${p.imageUrl}"></td>
                  <td th:text="${u.price}"></td>
                  <td th:text="${u.stockCount}"></td>
                  <td th:text="${productStatus[p.status]}"></td>
                  <td></td>
                </tr>
                <tr th:if="${#lists.isEmpty(pageInfo?.list)}">
                  <td class="text-center" colspan="7">暂无数据</td>
                </tr>
              </tbody>
            </table>
            <!-- 分页 -->
            <nav th:replace="tpl-component::dspage(${pageInfo}, '/console/product/list.v', ${params}, 'html')"></nav>
          </div>
        </main>
      </div>
    </div>

    <script th:inline="javascript">
      feather.replace();

      // 重置
      $("#btn-reset").on("click", function() {
        $("#form-search input").val("");
        $("#form-search select").val("");
      });

      // 搜索
      $("#btn-search").on("click", function() {
        pageSearch("/console/product/list.v", [[${pageInfo}]], "#form-search", ["productStatus"], []);
      });
    </script>
  </body>
</html>
