<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="client/tpl/tpl-common::head('公告')"></head>
  <style>
    .jumbotron {
      padding-left: 1rem;
    }
    @media (max-width: 768px) {
      #notice-container {
        padding-top: 6rem !important;
      }
    }
  </style>
  <body>
    <!-- 顶部 -->
    <header th:replace="client/tpl/tpl-common::top"></header>
    
    <div class="px-4 pb-2 pt-5 bg-white container" id="notice-container">
      <h5 class="pt-3 pb-3 mt-4 mb-3 jumbotron text-left text-secondary">
        网站动态
      </h5>
      <div id="notice-list">
        <div th:replace="client/notice-list::notice-list"></div>
      </div>
    </div>
    <!-- 底部 -->
    <footer th:replace="client/tpl/tpl-common::bottom"></footer>
  </body>
</html>
