body{
  /*基色*/
  --base-color: #939597;
  /*主色*/
  --main-color: #F5DF4D;
  /*辅色*/
  --sup-color: #007bff;
}

@media (min-width: 768px) {
}

html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2.4rem;
  background-color: #f5f5f5;
}

footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
}

.my-text-base {
  color: var(--base-color) !important;
}

.my-text-main {
  color: var(--main-color) !important;
}

.my-text-sup {
  color: var(--sup-color) !important;
}

.my-bg-base {
  background-color: var(--base-color) !important;
}

.my-bg-main {
  background-color: var(--main-color) !important;
}

.my-bg-sup {
  background-color: var(--sup-color) !important;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.my-bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my-form-signin {
  width: 100%;
  max-width: 22rem;
  padding: 0.9rem;
  padding-top: 1.5rem;
  margin: auto;
}

.my-form-signin .checkbox {
  font-weight: 400;
}

.my-form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.6rem;
  font-size: 1rem;
}

.my-form-signin .form-control:focus {
  z-index: 2;
}

.my-navbar-logo {
  width: 1.8rem;
  height: 1.8rem;
  border-radius:1.5rem;
  margin-right: 0.6rem;
}

.my-login-logo {
  width: 5rem;
  height: 5rem;
  border-radius:0.9rem;
}

.my-user-portrait {
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
}

.my-mid {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.my-main-top {
  margin-top: 3.5rem;
}

.my-avatar {
  width: 1.6rem;
  height: 1.6rem;
}

.my-btn-setting .card-header .btn {
  line-height: 2rem !important;
}

.my-img-captcha {
  width: 5.5rem;
  height: 100%;
  cursor: pointer;
}

/***************** 覆盖bootstrap的样式 *****************/

/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--main-color) !important;
} */

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--base-color) !important;
}
